@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* @import "tailwindcss";

html,
body,
#root{
    min-height:100%;
} */
